body {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.card {
    background-color: rgb(241, 148, 9);
}
#contador {
    background-color: #000;
}
#botonMas {
    width: 50px;
    height: 50px;
    background-color: chartreuse;
}

#botonMenos {
    width: 50px;
    height: 50px;
    background-color: chartreuse;

}

#botonCarrito {
    width: 150px;
    height: 50px;
    background-color: chartreuse;
}